<!doctype html>
<html lang="en">
  <head>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JB6DXVVXBD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JB6DXVVXBD');
    </script>

    <title>Listado de Candidatos para {{candidates.0.state_name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    {{> fb_headers }}
  </head>
  <body>

    {{> navbar }}

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center mb-4">
            <h2 class="heading-section">Candidatos Federales: {{ candidates.0.state_name }}, {{#unless main}}{{ candidates.0.position_name  }}{{/unless}}</h2>
            <p>Total: {{count}} candidatos</p>
          </div>
        </div>

        <!-- Section and state selection  -->
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="search-box">
            <ol>
                <li>Selecciona estado y sección INE</li>
                <li>Da click o pulsa en la posición que deseas buscar</li>
            </ol>

              <div class="row justify-content-center">
                  <div class="col-xs">

                      <div class="form-group">
                          <label for="state-select">Estado:&nbsp;</label>
                          <select id="state-select" name="state" class="form-control" style="width: 53%; display: inline;">
                              <option value="">-- Seleccionar Estado --</option>
                                <option value="0" {{#if (eq current_state 0)}}selected{{/if}}>Federal</option>
                                <option value="1" {{#if (eq current_state 1)}}selected{{/if}}>Aguascalientes</option>
                                <option value="2" {{#if (eq current_state 2)}}selected{{/if}}>Baja California</option>
                                <option value="3" {{#if (eq current_state 3)}}selected{{/if}}>Baja California Sur</option>
                                <option value="4" {{#if (eq current_state 4)}}selected{{/if}}>Campeche</option>
                                <option value="5" {{#if (eq current_state 5)}}selected{{/if}}>Coahuila</option>
                                <option value="6" {{#if (eq current_state 6)}}selected{{/if}}>Colima</option>
                                <option value="7" {{#if (eq current_state 7)}}selected{{/if}}>Chiapas</option>
                                <option value="8" {{#if (eq current_state 8)}}selected{{/if}}>Chihuahua</option>
                                <option value="9" {{#if (eq current_state 9)}}selected{{/if}}>CDMX</option>
                                <option value="10" {{#if (eq current_state 10)}}selected{{/if}}>Durango</option>
                                <option value="11" {{#if (eq current_state 11)}}selected{{/if}}>Guanajuato</option>
                                <option value="12" {{#if (eq current_state 12)}}selected{{/if}}>Guerrero</option>
                                <option value="13" {{#if (eq current_state 13)}}selected{{/if}}>Hidalgo</option>
                                <option value="14" {{#if (eq current_state 14)}}selected{{/if}}>Jalisco</option>
                                <option value="15" {{#if (eq current_state 15)}}selected{{/if}}>México</option>
                                <option value="16" {{#if (eq current_state 16)}}selected{{/if}}>Michoacán</option>
                                <option value="17" {{#if (eq current_state 17)}}selected{{/if}}>Morelos</option>
                                <option value="18" {{#if (eq current_state 18)}}selected{{/if}}>Nayarit</option>
                                <option value="19" {{#if (eq current_state 19)}}selected{{/if}}>Nuevo León</option>
                                <option value="20" {{#if (eq current_state 20)}}selected{{/if}}>Oaxaca</option>
                                <option value="21" {{#if (eq current_state 21)}}selected{{/if}}>Puebla</option>
                                <option value="22" {{#if (eq current_state 22)}}selected{{/if}}>Querétaro</option>
                                <option value="23" {{#if (eq current_state 23)}}selected{{/if}}>Quintana Roo</option>
                                <option value="24" {{#if (eq current_state 24)}}selected{{/if}}>San Luis Potosí</option>
                                <option value="25" {{#if (eq current_state 25)}}selected{{/if}}>Sinaloa</option>

                                <option value="27" {{#if (eq current_state 27)}}selected{{/if}}>Tabasco</option>
                                <option value="28" {{#if (eq current_state 28)}}selected{{/if}}>Tamaulipas</option>
                                <option value="29" {{#if (eq current_state 29)}}selected{{/if}}>Tlaxcala</option>
                                <option value="30" {{#if (eq current_state 30)}}selected{{/if}}>Veracruz</option>
                                <option value="31" {{#if (eq current_state 31)}}selected{{/if}}>Yucatán</option>
                                <option value="32" {{#if (eq current_state 32)}}selected{{/if}}>Zacatecas</option>
                          </select>
                      </div>
                  </div> <!-- col -->

                  <div class="col-xs" style="padding-top: 0%;">
                      <div class="input-group">
                        <label for="section-input" style="padding-top: 4px;">Sección INE:&nbsp;</label>
                        <input type="text" value="" size=4 id="section-input" class="form-control" placeholder="Seccion INE">
                        <div class="input-group-append">
                          <!-- <button class="btn btn-primary" id="searchButton">
                            <i class="fa fa-search"></i> Buscar
                          </button> -->
                        </div>
                      </div>
                  </div> <!-- col -->

              </div> <!-- row -->

            </div>
          </div>
        </div>


        <!-- Positions menu -->


        <div class="row justify-content-center">
          <div class="col-md-7 mb-2">
            <!-- Main position filter menu -->
            <div class="position-filter-menu compact mb-2">
              <ul class="nav nav-pills nav-justified menu-list">

              <!-- Suprema corte -->
              {{#if mscjn }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "mscjn";
                </script>

                <li class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/mscjn', false)" data-filter="magistrados-tcca">
                    <span class="menu-title">Ministr(as/os)</span>
                    <span class="menu-subtitle">Suprema Corte</span>
                  </a>
                </li>
              {{else}}
                <li class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/mscjn', false)" data-filter="magistrados-tcca">
                    <span class="menu-title">Ministr(as/os)</span>
                    <span class="menu-subtitle">Suprema Corte</span>
                  </a>
                </li>
              {{/if}}
              <!-- /Suprema corte -->

              <!-- Jueces -->
              {{#if judges }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "judges";
                </script>

                <li id="button-jueces" class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/judges', true)" data-filter="jueces">
                    <span class="menu-title">Juezas/Jueces</span>
                  </a>
                </li>
              {{else}}
                <li id="button-jueces" class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/judges', true)" data-filter="jueces">
                    <span class="menu-title">Juezas/Jueces</span>
                  </a>
                </li>
              {{/if}}
              <!-- /Jueces -->

              <!-- Tribunal de disciplina judicial -->
              {{#if mtdj }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "mtdj";
                </script>

                <li class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/mtdj', false)" data-filter="magistrados-dj">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle"><small>T. Disciplina</small></span>
                  </a>
                </li>
              {{else}}
                <li class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/mtdj', false)" data-filter="magistrados-dj">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">T. Disciplina</span>
                  </a>
                </li>
              {{/if}}
              <!-- /Tribunal de disciplina judicial -->

              <!-- Sala superior tribunal electoral -->
              {{#if mste }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "mste";
                </script>

                <li class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/mste', false)" data-filter="magistrados-ste">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">Superior Electoral</span>
                  </a>
                </li>
              {{else}}
                <li class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/mste', false)" data-filter="magistrados-ste">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">Superior Electoral</span>
                  </a>
                </li>
              {{/if}}
              <!-- /Sala superior tribunal electoral -->

              <!-- Salas regionales tribunal electoral -->
              {{#if msrte }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "msrte";
                </script>

                <li class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/msrte', false)" data-filter="magistrados-srte">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">Regional Electoral</span>
                  </a>
                </li>
              {{else}}
                <li class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/msrte', false)" data-filter="magistrados-srte">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">Regional Electoral</span>
                  </a>
                </li>
              {{/if}}
              <!-- /Salas regionales tribunal electoral -->

              <!-- Tribunales colegiados -->
              {{#if mtcaa }}
                <!-- Selected Option -->
                <script>
                    // Selected menu option
                    var option = "ctcaa";
                </script>

                <li class="nav-item menu-item menu-item-selected">
                  <a class="nav-link active btn btn-xs btn-primary menu-item-selected" OnClick="CandidatesRedirect('/candidates/federal/mtcca', false)" data-filter="magistrados-tcca">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle">T. Colegiado</span>
                  </a>
                </li>
              {{else}}
                <li class="nav-item menu-item">
                  <a class="nav-link active btn btn-xs btn-primary" OnClick="CandidatesRedirect('/candidates/federal/mtcca', false)" data-filter="magistrados-tcca">
                    <span class="menu-title">Magistraturas</span>
                    <span class="menu-subtitle"><small>T. Colegiado</small></span>
                  </a>
                </li>
              {{/if}}
              <!-- /Tribunales colegiados -->

            </div>


          {{#if judges }}
            <!-- Judges Category submenu -->
            <div class="category-submenu">
              <ul class="nav nav-pills nav-justified submenu-list">
                <li class="nav-item submenu-item" data-matter="CIVIL">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="civil">CIVIL</a>
                </li>
                <li class="nav-item submenu-item" data-matter="LABORAL">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="laboral">LABORAL</a>
                </li>
                <li class="nav-item submenu-item" data-matter="PENAL">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="penal">PENAL</a>
                </li>
              </ul>
            </div>
          {{/if}}

          {{#if mtsj }}
            <!-- mtsj Category submenu -->
            <div class="category-submenu">
              <ul class="nav nav-pills nav-justified submenu-list">
                <li class="nav-item submenu-item" data-matter="CIVIL">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="civil">CIVIL</a>
                </li>
                <li class="nav-item submenu-item" data-matter="FAMILIAR">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="familiar">FAMILIAR</a>
                </li>
                <li class="nav-item submenu-item" data-matter="PENAL">
                  <a class="nav-link btn btn-sm btn-outline-custom btn-custom active" href="#" data-category="penal">PENAL</a>
                </li>
              </ul>
            </div>
          {{/if}}

          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-8 mb-4">
            <div class="search-box">
              <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar candidatos...">
                <div class="input-group-append">
                  <button class="btn btn-primary" id="searchButton">
                    <i class="fa fa-search"></i> Buscar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap">
              <table class="table table-responsive-xl" id="candidatesTable">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Materia</th>
                    <th>Distrito</th>
                    <th>Poder</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each candidates}}
                  <tr class="candidate-row"
                      data-fullname="{{this.fullname}}" 
                      data-position="{{this.position_name}}" 
                      data-state="{{this.state_name}}"
                      data-matter="{{this.matter_name}}"
                      data-ine_section="{{this.seccion}}"
                  >
                    <td class="d-flex align-items-center" style="cursor: pointer">
                      {{#if this.image_url}}
                      <div class="avatar-content" onClick="window.open('/candidates/{{this.id}}', '_blank')" >
                        <center>
                            <img class="avatar-img" loading="lazy" src="{{this.image_url}}" />
                            <br />
                            <span class="badge bg-primary" style="font-size: 10px; width: auto">
                                Ver Perfil
                            </span>
                         </center>
                         <br />
                      </div>
                      {{else}}
                      <div class="avatar-content" onClick="window.open('/candidates/{{this.id}}', '_blank')" >
                        <img class="avatar-img" loading="lazy" src="/api/placeholder/50/50" />
                      </div>
                      {{/if}}
                      <div class="pl-3">
                        <span onClick="window.open('/candidates/{{this.id}}', '_blank')"  class="font-weight-bold">{{this.fullname}}</span>
                        <br>

                        <!-- Reaction buttons -->
                        <div class="mt-2">
                          <div class="reaction-group">
                            <!-- Like Button -->
                            <button class="btn btn-sm btn-outline-success reaction-btn" data-candidate-id="{{this.id}}" data-reaction-type="Like">
                              <i class="fa fa-thumbs-up"></i>
                            </button>
                            <span class="reaction-count" id="like-count-{{this.id}}">{{ this.like_count }}</span>

                            <!-- Dislike Button -->
                            <button class="btn btn-sm btn-outline-secondary reaction-btn" data-candidate-id="{{this.id}}" data-reaction-type="Dislike">
                              <i class="fa fa-thumbs-down"></i>
                            </button>
                            <span class="reaction-count" id="dislike-count-{{this.id}}">{{ this.dislike_count }}</span>

                            <!-- Danger Button -->
                            <button class="btn btn-sm btn-outline-danger reaction-btn" data-candidate-id="{{this.id}}" data-reaction-type="Danger">
                              <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <span class="reaction-count" id="danger-count-{{this.id}}">{{ this.danger_count }}</span>
                          </div>
                        </div>


                        <small>Edad: {{#if this.age}}{{this.age}}{{else}}N/D{{/if}}&nbsp;</small>
                        {{#if (eq this.sex "Hombre")}}
                        <span class="badge badge-info">H</span>
                        {{else}}
                        <span class="badge badge-info">M</span>
                        {{/if}}
                        <span class="badge badge-primary">{{ this.matter_name }}</span>
                      </div>
                    </td>
                    <td style="word-wrap: break-word; max-width: 200px; white-space: normal;">
                        {{this.position_name}}
                    </td>
                    <td style="word-wrap: break-word; max-width: 150px; white-space: normal;">
                      {{ this.matter_name}}
                    </td>
                    <td>{{#if this.district}}{{this.district}}{{else}}N/D{{/if}}</td>
                    <td>{{this.poder_name}}</td>
                    <td>
                      <div class="btn-group" role="group">
                        <a href="/candidates/{{this.id}}" class="btn btn-sm btn-primary">
                          <i class="fa fa-eye"></i>
                        </a>
                        {{#if this.curriculum_url}}
                        <a href="{{this.curriculum_url}}" target="_blank" class="btn btn-sm btn-info">
                          <i class="fa fa-file-text-o"></i>
                        </a>
                        {{/if}}
                        {{#if this.website}}
                        <a href="{{this.website}}" target="_blank" class="btn btn-sm btn-success">
                          <i class="fa fa-globe"></i>
                        </a>
                        {{/if}}
                      </div>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            
            <!-- Pagination -->
            <nav aria-label="Candidates pagination">
              <ul class="pagination" id="pagination">
                <!-- Pagination will be populated by JavaScript -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

    {{> footer }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/app.js"></script>
        
    <style>
      .reaction-group {
        display: flex;
        align-items: center;
      }
      
      .reaction-count {
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
      }
      
      .reaction-btn {
        margin-right: 3px;
      }
    </style>



    <script>
        // Golbal variables
        const LOGIN_PATH = "/login/facebook";
        var CURRENT_USER = {};

        // Pagination configuration
        const rowsPerPage = 50;
        const rows = $('#candidatesTable tbody tr');
        const rowsCount = rows.length;
        const pagesCount = Math.ceil(rowsCount / rowsPerPage);
        let currentPage = 1;


        // Register Handlebars helper for equality check
        Handlebars.registerHelper('eq', function(a, b) {
            return a === b;
        });
      
      $(document).ready(function() {
        // Checks every 120 minutes
        setupLoginCheck(120);

        // Handle reaction button clicks
        $(document).on('click', '.reaction-btn', function() {
            const candidateId = $(this).data('candidate-id');
            const reactionType = $(this).data('reaction-type');
          
            // Check if the user is logged in
            if ( isEmpty(CURRENT_USER) ) {
                alert("Debes acceder antes de poder comentar o poner una reacción");
                return;
            }

            // Build payload
            var reaction_payload = {
                user_id: CURRENT_USER.id,
                candidate_id: candidateId,
                oauth_user_id: CURRENT_USER.oauth_id,
                reaction_type: reactionType,
            };

            // Send reaction to server
            $.ajax({
                url: `/candidates/${candidateId}/reaction`,
                method: 'PUT',
                data: JSON.stringify(reaction_payload),
                contentType: 'application/json',
                success: function() {
                    // Reload reactions for this candidate to update counts
                    console.log("Load reactions...");
                    loadCandidateReactions(candidateId);
                },
                error: function(err) {
                    console.error('Error sending reaction', err);
                }
            });
        });

        // Filter by matter buttons
        $(document).on('click', '.submenu-item', function() {
            const matter = $(this).data('matter');
            matterFilter(matter);
        });

        // Initial setup
        displayRows();
        
        // Search button click handler
        $('#searchButton').click(function() {
          performSearch();
        });

        // Search input keyup handler (search as you type)
        $('#searchInput').on('keyup', function(e) {
          // Search on Enter key
          //if (e.keyCode === 13) {
            performSearch();
          //}
        });
      });


      /// Redirects to the position URL given in path
      function CandidatesRedirect(path, check_section) {
          if ( ! check_section ) {
              document.location.href = path;
              return;
          }

          var state = $("#state-select").val();
          var section = $("#section-input").val();
          if ( state === "") {
              alert("Es necesario seleccionar un estado");
              console.log("Es necesario seleccionar un estado");
              return;
          }
          if ( section === "") {
              alert("Es necesario proporcionar tu sección electoral, revisa la parte inferior derecha de la parte frontal de tu INE");
              console.log("Es necesario proporcionar sección electoral");
              return;
          }
          var candidate_location = `${path}/${state}/${section}`;
          console.log("Redirecting to: " + candidate_location);
          document.location.href = candidate_location;
      }

    </script>
  </body>
</html>
